<div class="viewers-container">
  <div class="viewer" *ngFor="let viewer of (viewers || []); let i = index">
    {{i + 1}} - {{viewer.nickname}} ({{viewer.totalPoints}} pts) !
  </div>
</div>

<br/>
<br/>
<br/>
<ng-container *ngIf="connectedUser">
  Viewer : <input type="text" [(ngModel)]="resultViewerNickname"/>
  <!-- Jeu : <input type="text" [(ngModel)]="resultGame"/> -->
  Jeu : <select name="games" [(ngModel)]="resultGame">
    <option value="">--Choisi un jeu--</option>
    <option *ngFor="let game of (games || [])" [value]="game.name">{{game.name}}</option>
  </select>
  Nbr de points : <input type="number" [(ngModel)]="resultPoints"/><br/>
  <button (click)="addResult()">Valider</button>
  <div>{{resultViewerError}}</div>
  <div>{{resultGameError}}</div>
</ng-container>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<ng-container *ngIf="connectedUser">
  ----------------------------------------------------------------------------------------- Vous n'avez pas besoin de cette partie bande de bougres
  Ajout d'un viewer : <br/>
  Pseudo du viewer : <input type="text" [(ngModel)]="newViewerNickname"/>
  <button (click)="addViewer()">Ajouter le viewer</button>
</ng-container>

<br/>
<br/>
<br/>
Nom d'utilisateur : <input type="text" [(ngModel)]="login"/><br/>
Mot de passe : <input type="password" [(ngModel)]="password"/><br/>
<button *ngIf="!connectedUser" (click)="doLogin()">Connexion</button>
<button *ngIf="connectedUser" (click)="doLogout()">Déconnexion</button>
