.viewers-container {
  color: white;
  font-weight: 900;
  font-size: 52px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, aria, sans-serif;
}

.viewer {
  margin-bottom: 8px;
}
